body {
    background-color: rgb(27, 29, 138);
    font: normal 15pt Arial;
}

header {

    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    margin-top: 20px; 
    border-radius: 5px;
}


section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.671);
    text-align: center;
}

footer {
    text-align: center;
    font-style: italic;
    color: whitesmoke;
}

/* Estilo básico do botão */
input[type="button"] {
    background-color: #18b11d; 
    color: white; 
    border: none; 
    padding: 5px 15px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: all 0.3s ease; 
}

input[type="button"]:hover {
    background-color: #020202;
    transform: scale(1.1); 
}

input[type="button"]:active {
    transform: scale(1); 
    background-color: #ffffff; 
}

input[type="number"] {
    width: 40%; 
    padding: 10px; 
    font-size: 16px; 
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}
